.navbar {
  max-height: 4rem;
  margin: 0;
  padding: 1rem;
  background: linear-gradient(to right, rgb(31, 122, 197), rgb(95, 191, 220));
}

.nav-list-items {
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.search {
  margin-left: auto; /* Automatically pushes the search item to the right */
}

@media (max-width: 768px) {
  .nav-list-items {
    flex-direction: column;
    gap: 1rem;
  }

  .search {
    margin-left: 0; /* Reset margin on smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem; /* Reduce padding on very small screens */
  }

  .nav-list-items {
    gap: 0.5rem; /* Minimal gap on very small screens */
    font-size: 14px; /* Reduce font size for very small screens */
  }
}
